.main-img{
    width: 100%;
    height: 34vw;
        position: relative;
        z-index: -1;

}

.text-main{
        position: absolute;
padding-top: 9rem;
font-weight:600;
font-size: 46px;
color: white;
line-height: 57.5px;
margin-left: 8.5rem;
top: 6%;
left: -0.7%;
Z-INDEX: -1;
;
}

.amet{
    border-bottom: 10px solid #11E1B9;
    padding-bottom: 1rem;
}




@media(max-width:1150px) {
    .text-main{
        top: 2%;
        left: -2.8%;
        font-size:  32px;
        line-height: 3rem;

    }
    .paragraph-main{
margin-left: 7rem;
padding-top: 16rem;
    }
}
@media(max-width:768px) {
    .text-main{
        top: -1%;
        left: -5.8%;
        font-size:  20px;
        line-height: 2rem;
    }
}
@media(max-width:600px) {
    .text-main{
        top: -3%;
    left: -17.8%;
        font-size:  20px;
        line-height: 2rem;
    }
}
@media(max-width:500px) {
    .text-main{
        top: -5%;
    left: -17.8%;
    font-size: 13px;
            line-height: 2rem;
    }
}

.robot-img{
    position: sticky;
    width: 449px;
    height: 426px;
    left: -9px;
    top: 611px;
    z-index: 1;
    margin-top: -79px;
}

@media(max-width:1300px){
    .robot-img{
        width:384px;
    height: 395px;
    }
}
@media(max-width:1300px){
    .robot-img{
        width: 353px;
        height: 367px;
    }
}
@media(max-width:1100px){
    .robot-img{
        width: 307px;
        height: 280px;
    }
}
@media(max-width:1000px){
    .robot-img{
        width: 277px;
        height: 263px;
        margin-top: -55px;

    }
}
@media(max-width:860px){
    .robot-img{
        width: 243px;
        height: 241px;
        margin-top: -55px;

    }
}
@media(max-width:720px){
    .robot-img{
        width: 197px;
        height: 207px;
        margin-top: -44px;

    }
}
@media(max-width:570px){
    .robot-img{
        width: 169px;
        height: 184px;
        margin-top: -36px;
    }
}
@media(max-width:480px){
    .robot-img{
        width: 125px;
        height: 135px;
        margin-top: -30px;
    }
}

.box{
    width: 100%;
    background-color: #CFE6E2;
    margin-top: -4px;
    position: relative;
}

@media(max-width:350px){
    .amet{
        border-bottom: 3px solid #11E1B9;
    padding-bottom: 0.5rem;
    }
}
@media(max-width:350px){
    .main-img{
        height: 80vw;
    }
}
@media(max-width:350px){
    .text-main{
        top: 2%;
    left: -39.8%;
    }
}

.paragraph-main{
    position: absolute;
    padding-top: 19rem;
    font-size: 15px;
    color: white;
    /* line-height: 57.5px; */
    margin-left: 8.5rem;
    top: 6%;
    left: -0.7%;
    Z-INDEX: -1;
}
@media(max-width:1250px) {
    .text-main{
        top: -1%;
        left: -2.8%;
        font-size:  32px;
        line-height: 3rem;

    }
    .paragraph-main{
        margin-left: 7rem;
        padding-top: 13rem;
    }
}
@media(max-width:910px) {
    .text-main{
        top: -5%;
        left: -5.8%;
        font-size:  20px;
        line-height: 2rem;
    }
    .paragraph-main{
        margin-left: 5.5rem;
        padding-top: 9rem;
    }
}
@media(max-width:860px) {
 
    .paragraph-main{
        margin-left: 5.8rem;
        padding-top: 9rem;
    }
}
@media(max-width:768px) {
    .text-main{
        top: -5%;
        left: -5.8%;
        font-size:  20px;
        line-height: 2rem;
    }
    .paragraph-main{
        margin-left: 6rem;
        padding-top: 9rem;
    }
}
@media(max-width:660px) {
    .paragraph-main{
        margin-left: 3.5rem;
        padding-top: 9rem;
    }
    .text-main{
        top: -6%;
    left: -13.8%;
        font-size:  20px;
        line-height: 2rem;
    }
}
 @media(max-width:695px){
    .main-img{
        height: 40vw;
    }
 }

@media(max-width:600px) {
    .text-main{
        top: -6%;
    /* left: -17.8%; */
    margin-left: 8.1rem;

    font-size:  20px;
        line-height: 2rem;
    }
    .main-img{
        height: 67vw;      }
}
@media(max-width:500px) {
    .text-main{
        top: -8%;
    /* left: -17.8%; */
    margin-left: 6.8rem;
        font-size: 13px;
            line-height: 2rem;
    }
}
@media(max-width:350px) {
    .main-img{
        height: 90vw;
      }
      .text-main {
        top: -5%;
        /* left: -17.8%; */
        margin-left: 5.8rem;
        font-size: 13px;
        line-height: 2rem;
    }
}

/* .description-title{
position: sticky;
margin-top: -10rem;
} */

.description{
  
    border: 3px solid black;
}

/* .description-title{
margin-top: -10rem;
font-size: 36px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0px;

} */
.description-paragraph{
margin-top: -17rem;
font-size: 36px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0px;
margin-left: 41rem;
}

@media(max-width:1225px){
    .description-paragraph{
        margin-top: -15rem;
        margin-left: 29rem;
        font-size: 25px;

    }
}
@media(max-width:1125px){
    .description-paragraph{
        margin-top: -15rem;
        margin-left: 28rem;
        font-size: 25px;

    }
}
@media(max-width:1100px){
    .description-paragraph{
        margin-top: -11rem;
        margin-left: 26rem;
        font-size: 25px;

    }
}
@media(max-width:768px){
    .description-paragraph{
        margin-top: -9rem;
        margin-left: 16.2rem;
                font-size: 17px;

    }
}
@media(max-width:500px){
    .description-paragraph{
        margin-top: -6rem;
        margin-left: 11rem;
        font-size: 14px;
    }
}
@media(max-width:430px){
    .description-paragraph{
        margin-top: -6rem;
        margin-left: 9rem;
        font-size: 14px;
                line-height: 19px;
    }
}
@media(max-width:300px){
    .description-paragraph{
        margin-top: -6rem;
        margin-left: 9rem;
        font-size: 15px;
        line-height: 1rem;
    }
}

.nulla{
    font-weight: bold;
}

.description-paragraph2{
    margin-left: 41rem;
    padding-top: 1rem;
    position: relative;
}
@media(max-width:1225px){
    .description-paragraph2{
       margin-left: 29rem;
    }
}
@media(max-width:1125px){
    .description-paragraph2{
       margin-left: 28rem;
    }
}
@media(max-width:1100px){
    .description-paragraph2{
       margin-left: 26rem;
    }
}
@media(max-width:965px){
    .description-paragraph2{
font-size: 12px;
    }
}
@media(max-width:768px){
    .description-paragraph2{
       margin-left: 16rem;
       display: none;
    }
}
@media(min-width:769px){
    .description-paragraph3{
       display: none;
    }
}
@media(max-width:768px){
    .description-paragraph3{
        background-color: #CFE6E2;  
        padding-left: 16.3rem;    }
    
}
@media(max-width:500px){
    .description-paragraph3{
        background-color: #CFE6E2;  
        padding-left: 9rem;
        font-size: 12px;
        padding-top: 1rem;
}
    }
@media(max-width:350px){
    .description-paragraph3{
        background-color: #CFE6E2;  
        padding-left: 9rem;
        font-size: 12px;
        padding-top: 1rem;
}
    }


    .button-paragraph{
        width: 61px;
        background: #11E1B9;
        padding: 1rem 2rem;
        border-radius: 99px;
        font-size: 16px;
        color: white;
        position: sticky;
        left: 650px;
        margin-top: 1.5rem;
    }
    
.btn-back{
    background-color:#CFE6E2 ;
    border: 3px solid #CFE6E2;
}

@media(max-width:1225px){
    .button-paragraph{
        left: 462px;
    }
}
@media(max-width:1125px){
    .button-paragraph{
        left: 411px;
    }
}
@media(max-width:768px){
    .button-paragraph{
        left: 256px;
    }
}
@media(max-width:500px){
    .button-paragraph{
        left: 137px;
        }
}